body {
    box-sizing: border-box;
    font-family: 'Jua', sans-serif;
}

.container {
    border:2px solid black ;
    padding:0 10px;
    margin:80px auto;
    width: 500px;
    text-align: center;
} 

ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
}

button {
    background-color: rgb(221, 86, 86);
    width: 100px;
    border-radius: 1px solid white;
    border-radius: 10px;
    padding:25px;
    margin:10px;
    font-family: 'Jua', sans-serif;
    font-size: 20px;
}

#result {
    border: 3px solid rgb(221, 86, 86);
    padding:20px;
    border-radius: 10px;
    height: 15px;
    font-size: 20px;
}
